.usersContainer{
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
    max-height: max-content;
}
.activePage{
    font-weight: bold;
}
.avatar{
    width: 80px;
    border-radius: 60px;
}
.pages{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color:white;
}

.users{
    color:white;
}