.myPostsBlock {
    padding: 10px;
    text-align: center;

}

.postsList {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;


}

.btnAddPost{
    height: 50px;
    background-color: #3D50FA;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 1px 19px 4px #3D50FA;
    -moz-box-shadow: 0px 1px 19px 4px #3D50FA;
    box-shadow: 0px 1px 19px 4px #3D50FA;
    border-radius: 10px;
    width: 150px;
    color: white;
    cursor: pointer;
}
.plus {
    background-image: url('ikonka-plyus-1-PhotoRoom.png-PhotoRoom.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: 50px 50px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-inline: 2px;
    background-color: rgba(255, 255, 255, 0);


}

.textArea {
    text-align: center;
    width: 600px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #20222c;
    font-size: 16px;
    resize: none;
    outline: none;
    color: #ffffff;
    overflow: auto;
}

.addPost {
    width: 980px;
    border-radius: 5px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 0 7px rgba(0,0,0,0.5)

}
.avatar{
    width: 80px;
    border-radius: 60px;
}