* {
    margin: 0;
    padding: 0;

}
body{

}
.App {
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.17%, rgba(0, 0, 0, 0.83) 94.79%) #f3f3f3 fixed;*/
    background-image: url('./font.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.App-wrapper-content {
    width: 1000px;
    margin: 0 auto;
    max-height: max-content;
}