* {
    margin: 0;
    padding: 0;

}

body {

}

.App {
    background-color: #20222c;
    display: flex;
    flex-direction: column;
}

.App-wrapper-content {
    width: 1000px;
    margin: 0 auto;
    max-height: max-content;
}

