* {
    margin: 0;
    padding: 0;

}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor: url(utils/normalSelect.cur), default;
}

body::-webkit-scrollbar{
    display: none;
}

.App {
    background-color: #1C1E26;
    display: flex;
    flex-direction: column;
}

.App-wrapper-content {
    /*width: 1000px;*/
    /*margin: 0 auto;*/
    max-height: max-content;
}

