.dialogs{
    padding: 10px;
    border: 1px solid;
width: 1000px;
    margin: 0 auto;
}
.dialogsFriends{
    grid-area: friends;
}

.dialogsItems{
display: flex;
    align-items: center;
    padding-top: 10px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.avatarMessage{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    left: 10px;
    top: -8px;
}

.userName{
    padding-left: 5px;
}
.messageSend{
    grid-area: messageSend;
    margin-top: 20px;

}
.message{
    grid-area: message;
    position: relative;
    right: 800px;
}
.messagesInMessage{
    display: flex;
    justify-content: flex-end;
    margin:10px;
}